
div {
    font-size: 30px;
}

.formatacao {
    text-decoration: underline;
}
/* teste */
 #noticias1{
    background-color: white;
    border: 1px red solid;
    width: 250px;
    height: 180px;
    float: left;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#noticias2{
    background-color: orange;
    border: 1px red solid;
    width: 250px;
    height: 180px;
    float: left;
    margin: 20px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.clear {
    clear: both;
}

.texto1 {
    color: blue;
    font-size: 1em; /* px, %, em */
    font-family: 'Times New Roman', Times, serif;
   
}
.texto2 {
    color:black;
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;

}
.azul {
	color: blue;
}


#menu {
	border: 1px red solid;
 /* background-color: gray; */
 border-color: red green yellow blue;
 border-width: 1px 5px 8px 10px;
 border-style: solid dotted dashed solid;
}
#rodape {
	border: 1px red solid;
 /* background-color: gray; */
 border-color: red green yellow blue;
 border-width: 1px 5px 8px 10px;
 border-style: solid ;
}